.settings_section {
  padding: 20px 0;
  border-bottom: 2px solid $grey;
  overflow: auto;
}

.settings_section__title {
  font-weight: 500;
  float: left;
  display: inline-block;
}

.settings_section__input {
  display: inline-block;
  width: 50%;
  float: right;
  margin-right: 20%;
}
