.button {
  border-radius: 10px;

  .q-focus-helper {
    display: none;
  }

  &:before {
    box-shadow: none;

  }

  &.q-btn--active {
    &:before {
      box-shadow: none !important;
    }

    opacity: 0.8;
  }
}

.big-button {
  height: 55px;
}
