.input--bald-border {
  .q-field__inner {
    .q-field__control:before {
      border-width: 2px;
    }
  }
}

.input--rounded-border-radius {
  .q-field__inner {
    .q-field__control {
      &:before {
        border-radius: 8px;
      }

      &:after {
        border-radius: 8px;
      }
    }
  }
}

.input--gray-border {
  .q-field__inner {
    .q-field__control:before {
      border-color: rgba(187, 182, 182, 0.41);
    }
  }
}

.input-hint--custom {
  .q-field__inner {
    .q-field__bottom {
      font-size: 14px;
      padding-left: 0;
      font-weight: 500;
      color: $text-color;
      opacity: 0.7;
    }
  }
}
