.tab {
  .q-focus-helper {
    display: none;
  }
  .q-tab__content{
    padding: 0;
  }
}

.tab-text_start {
  justify-content: start;
  padding: 0 !important;
}

.tab-content-flex {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
