.beautiful-active-tab {
  .q-tabs__content {
    min-width: auto !important;
    .q-tab {
      padding: 6px 18px 6px 18px !important;
      transition: border-radius 0s;
    }

    .q-tab__indicator {
      left: 0;
      height: 60%;
      margin: auto 0;
      width: 5px;
      border-radius: 0 8px 8px 0;
    }
  }
}
