@import "quasar/button.scss";
@import "fonts.scss";
@import "quasar/checkbox.scss";
@import "quasar/tab.scss";
@import "quasar/tabs.scss";
@import "quasar/tab-panel.scss";
@import "quasar/input.scss";
@import "pages/settingsSection.scss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
  padding: 0;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-color;
}


.limiter {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1400px) {
    & {
      padding: 0 20px;
    }
  }
}

.logo-text {
  font-weight: 700;
  text-decoration: none;
}

h1 {
  font-size: 90px;
  line-height: 100px;
  font-weight: 500;
  color: $text-color;
}

@media (max-width: 600px) {
  h1 {
    font-size: 60px;
    line-height: 75px;
  }
  h2 {
    font-size: 50px !important;
    line-height: 60px !important;
  }
  h3 {
    font-size: 20px !important;
    line-height: 30px !important;
  }
}

h2 {
  font-size: 70px;
  line-height: 90px;
  font-weight: 400;
  color: $text-color;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  opacity: .7;
  color: $text-color;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: $text-color;
}


li {
  list-style: none;
}

.section {
  min-height: calc(100vh - 66px);
}
