$primary: #1a5aff;
$secondary: #26A69A;
$accent: #9C27B0;

$dark: #1D1D1D;
$dark-page: #121212;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;

$border-radius: 20px;
$text-color: #19093e;

$light: white;
$dark: black;
$lite-shadow: 0px 0px 300px -20px rgba(34, 60, 80, 0.2);
$header-height: 66px;

